
  <%= render partial: "today_menu" %>
  <hr>

  <h2>献立のご提案</h2>
  <div class="row">
    さまざまな献立<br>
    ランダムに一つ<br>
    最も古いものを一つ<br>
    各カテゴリーから古いものを一つ<br>
  </div>
  <hr>

  <h3>料理を検索する</h3>
  <div class="row">
    検索内容を表示する項目<br>
    名前で検索<br>
    値段で検索<br>
    大変さで検索<br>
    カロリーで検索<br>
    カテゴリーで検索<br>
    日付が古い順で検索<br>
    タグで検索<br>
    

  </div>
</div>